/* GENERICS  */
body {
    text-align: center;
    color: white;
}

/* BACKGROUND COLOR  */
.bg-dark-blue {
    background-color: rgb(44, 62, 80);
}

.bg-aqua {
    background-color: rgb(26,188,156);
}

.txt-aqua {
    color: rgb(26,188,156);
}


.bg-blue {
    background-color: rgb(58,84,109);
}

/** OK  **/
#portfolio img {
    border-radius: 15px;
}

#about .my-btn {
    border: 1px solid white;
    color:white;
    background-color: rgb(26,188,156);
}

#contact .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgb(44, 62, 80);
}

#footer-up i {
    padding: 0 10px;
}

.divider::after, .divider::before {
    content: "";
    height: 5px;
    background-color: black;
    width: 200px;
    margin: 30px 40px;
}

/*! CONTROLLARE */
.divider-light::after, .divider-light::before {
    content: "";
    height: 5px;
    background-color: white;
    width: 200px;
    margin: 30px 40px;
}

#jumbotron img {
    max-width: 20%;
} 
